@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

html {
  font-size: 10px;
  font-family: 'Nerko One';
  font-style: normal;
}
.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.heading {
  background-color: pink;
  padding: 10px 0;
  font-size: 4rem;
}
.input-container {
  background-color: bisque;
  padding: 10px 0;
}
.status-container {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
.status-item {
  cursor: pointer;
}
.selected.status-item {
  background-color: yellowgreen;
  border-radius: 20px;
}
.todos {
  font-size: 2rem;
}
.todos-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: skyblue;
}